.auth-page-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-height: 100vh;
    background-color: rgba(245, 247, 255, 0.85);

    @media(min-width: 992px) {
        background-color: #E0C3D4;
        align-items: center;
        padding: 20px;
    }

    .auth-page-sections {
        display: flex;
        flex-direction: column;
        background: rgba(245, 247, 255, 0.85);
        border-radius: 10px;

        @media (min-width: 992px) {
            padding: 30px;
            flex-direction: row;
            flex-wrap: wrap;
            flex-direction: row;

        }

        @media(min-width: 1200px) {
            width: 75%;
        }

        .auth-page-left-section {
            display: flex;
            justify-content: center;
            padding: 20px 30px;
            width: 100%;

            @media(min-width: 992px) {
                width: 50%;
            }

            .auth-img {
                min-width: 315px;
                max-width: 50%;

                @media(min-width: 992px) {
                    min-width: 450px;
                    max-width: 100%;

                }

            }
        }

        .auth-page-right-section {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 20px 30px;
            text-align: center;

            @media(min-width: 992px) {
                align-items: flex-start;
                text-align: start;
                padding: 30px;
                width: 50%;

            }

            .auth-page-title {
                color: #2D2D2D;
                font-weight: 400;
                font-size: 42px;
                margin-bottom: 30px;

                &.welcome-page-title {
                    font-size: 42px;

                    @media(min-width: 992px) {
                        font-size: 56px;
                    }
                }

            }

            .auth-page-desc {
                color: #1F1249;
                font-weight: 400;
                font-size: 16px;
                margin-bottom: 40px;

                &.welcome-page-desc {
                    font-size: 16px;

                    @media(min-width: 992px) {
                        font-size: 24px;
                    }
                }

                &.successfully-logged-in-desc {
                    font-size: 16px;
                }


            }

            .auth-form {
                .auth-input-wrapper {
                    position: relative;
                    margin-bottom: 10px;

                    &:last-of-type {
                        margin-bottom: 20px;
                    }

                    .auth-input-prepend {
                        position: absolute;
                        inset-inline-start: 15px;
                        color: #9CADF2;
                        height: 60px;
                        display: flex;
                        align-items: center;

                        svg {
                            font-size: 12px;
                        }

                        &::after {
                            content: "";
                            width: 1px;
                            position: absolute;
                            border-inline-end: 1px solid #DBE3FF;
                            height: 20px;
                            inset-inline-end: -12px;
                        }
                    }
                }

                .auth-input {
                    height: 60px;
                    color: #3B3B3B;
                    font-weight: 400;
                    font-size: 16px;
                    padding-inline-start: 48px;
                    border-radius: 10px;
                }
            }
        }
    }
}