.auth-page-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
  background-color: rgba(245, 247, 255, 0.85);
}
@media (min-width: 992px) {
  .auth-page-wrapper {
    background-color: #E0C3D4;
    align-items: center;
    padding: 20px;
  }
}
.auth-page-wrapper .auth-page-sections {
  display: flex;
  flex-direction: column;
  background: rgba(245, 247, 255, 0.85);
  border-radius: 10px;
}
@media (min-width: 992px) {
  .auth-page-wrapper .auth-page-sections {
    padding: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
@media (min-width: 1200px) {
  .auth-page-wrapper .auth-page-sections {
    width: 75%;
  }
}
.auth-page-wrapper .auth-page-sections .auth-page-left-section {
  display: flex;
  justify-content: center;
  padding: 20px 30px;
  width: 100%;
}
@media (min-width: 992px) {
  .auth-page-wrapper .auth-page-sections .auth-page-left-section {
    width: 50%;
  }
}
.auth-page-wrapper .auth-page-sections .auth-page-left-section .auth-img {
  min-width: 315px;
  max-width: 50%;
}
@media (min-width: 992px) {
  .auth-page-wrapper .auth-page-sections .auth-page-left-section .auth-img {
    min-width: 450px;
    max-width: 100%;
  }
}
.auth-page-wrapper .auth-page-sections .auth-page-right-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 30px;
  text-align: center;
}
@media (min-width: 992px) {
  .auth-page-wrapper .auth-page-sections .auth-page-right-section {
    align-items: flex-start;
    text-align: start;
    padding: 30px;
    width: 50%;
  }
}
.auth-page-wrapper .auth-page-sections .auth-page-right-section .auth-page-title {
  color: #2D2D2D;
  font-weight: 400;
  font-size: 42px;
  margin-bottom: 30px;
}
.auth-page-wrapper .auth-page-sections .auth-page-right-section .auth-page-title.welcome-page-title {
  font-size: 42px;
}
@media (min-width: 992px) {
  .auth-page-wrapper .auth-page-sections .auth-page-right-section .auth-page-title.welcome-page-title {
    font-size: 56px;
  }
}
.auth-page-wrapper .auth-page-sections .auth-page-right-section .auth-page-desc {
  color: #1F1249;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 40px;
}
.auth-page-wrapper .auth-page-sections .auth-page-right-section .auth-page-desc.welcome-page-desc {
  font-size: 16px;
}
@media (min-width: 992px) {
  .auth-page-wrapper .auth-page-sections .auth-page-right-section .auth-page-desc.welcome-page-desc {
    font-size: 24px;
  }
}
.auth-page-wrapper .auth-page-sections .auth-page-right-section .auth-page-desc.successfully-logged-in-desc {
  font-size: 16px;
  min-height: 24px;
}
.auth-page-wrapper .auth-page-sections .auth-page-right-section .auth-form .auth-input-wrapper {
  position: relative;
  margin-bottom: 10px;
}
.auth-page-wrapper .auth-page-sections .auth-page-right-section .auth-form .auth-input-wrapper:last-of-type {
  margin-bottom: 20px;
}
.auth-page-wrapper .auth-page-sections .auth-page-right-section .auth-form .auth-input-wrapper .auth-input-prepend {
  position: absolute;
  inset-inline-start: 15px;
  color: #9CADF2;
  height: 60px;
  display: flex;
  align-items: center;
}
.auth-page-wrapper .auth-page-sections .auth-page-right-section .auth-form .auth-input-wrapper .auth-input-prepend svg {
  font-size: 12px;
}
.auth-page-wrapper .auth-page-sections .auth-page-right-section .auth-form .auth-input-wrapper .auth-input-prepend::after {
  content: "";
  width: 1px;
  position: absolute;
  -webkit-border-end: 1px solid #DBE3FF;
          border-inline-end: 1px solid #DBE3FF;
  height: 20px;
  inset-inline-end: -12px;
}
.auth-page-wrapper .auth-page-sections .auth-page-right-section .auth-form .auth-input {
  height: 60px;
  color: #3B3B3B;
  font-weight: 400;
  font-size: 16px;
  -webkit-padding-start: 48px;
          padding-inline-start: 48px;
  border-radius: 10px;
}/*# sourceMappingURL=style.css.map */